.leftside, .rightside{
    height:100vh;
    width:100%;
    font-size: large;
}

.leftside{
    background: #F8F8F8;
}

@media screen and (min-width:1000px)
{
   .leftside, .rightside{
       height:100vh;
   }
}

.rightside{
    background:url('images/background.png') center center no-repeat;
    background-size:cover;
    z-index: -2;
    opacity: 0.4;
}

.intro {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.text {
    margin-right: -10%;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

p {
    text-indent:30px;
}

.footnote {
    position: absolute;
    bottom: 0;
}